@media screen and (max-width:576px) {
    .container {
        padding: 0 1rem !important;
    }
   
    #header {
        display: none;
    }

    #phone-header {
        display: block !important;

    }

    #phone-header img {
        width: 70% !important ;
    }

    #first {
        padding: 1rem 0 7rem 0 ;
    }

    .second {
        margin-top: 6rem;
    }

    .p-first {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            float: right;
            color: #FFF;
            font-size: 24px ;
        }
    }

    .second-t {
        width: 100% !important;

        h1 {
            font-size: 40px !important;
        }
        
    }

    .svgs {
        width: 100% !important;
    }

    .custom-height {
        opacity: 0;
    }

    .t-top{
        .bot{
            display: flex;
            flex-direction: column;
            align-items: flex-start !important;

            a{
                margin-top: 20px;
            }
        }
    }

    .t-bottom{
        
        .t-box{
            margin-bottom: 20px;

            span{
                margin-bottom: 40px !important;
            }
        }
        .view-btn::after{
            width: 20% !important;
        }
    }

    
   
}